.header{
height: 100%;
    /* background-image: url(./img/zk.jpg); */
   background-size: cover;
/* background-repeat: no-repeat; */
}
.title{
    line-height: 220px;
    text-align: center;
    font-size: 97px;
    border-bottom: 3px solid silver;
    border-top: 3px solid silver;
}
